<header class="page-header">
<div class="headerTitle">Personal Library</div>
<% if (user) { %>
<a class="btn btn-primary" href="/users/logout">Log Out <span class="badge"><%= user.username %></span></a>
<% } else { %>
<a class="btn btn-primary" href="/users/login">Log In</a>
<% } %>
<% if (user && typeof hideAddBook === 'undefined') { %>
  <a class="btn btn-primary" href="/books/add">ADD Book</a>
<% } %>

<% if (typeof breadcrumbs !== 'undefined' && breadcrumbs) { %>
  <ol class="breadcrumb">
    <%
    for (var crumb of breadcrumbs) {
      if (crumb.active) {
      %><li class="active"><%= crumb.text %></li><%
      } else {
      %><li><a href="<%= crumb.href %>">
        <%= crumb.text %></a></li><%
      }
    }
    %>
  </ol>
<% } %>
</header>
